[Unit]
Description=Run miniappupgr deploy every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=miniappupgr-deploy.service

[Install]
WantedBy=timers.target
